.ant-btn:hover:enabled {
  background-color: white !important;
  color: #271e23 !important;
  border: 1px solid #271e23 !important;
}

#whiteButton:hover:enabled {
  background-color: #271e23 !important;
  color: white !important;
  border: 1px solid #271e23 !important;
}
