@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSerif";
  src: url("/fonts/NotoSerifJP[wght].ttf") format("truetype");
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Redhat";
  src: url("/fonts/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
}

*,
body {
  font-family: NotoSerif;
}

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}
/* body {
  overflow-x: hidden;
} */

img {
  background-color: transparent;
}
