@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSerif";
  src: url("/fonts/NotoSerifJP[wght].ttf") format("truetype");
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
}

*,
body {
  font-family: NotoSerif;
}
