@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSerif";
  src: url("../public/fonts/NotoSerifJP[wght].ttf") format("truetype");
}

@font-face {
  font-family: "Playfair";
  src: url("../public/fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

*,
body {
  font-family: NotoSerif;
}
